.panel.answer {
    display: none;
}
h4.ques {
    font-family: Muli;
    font-weight: 700;
    text-transform: uppercase;
}
section.faq_outer.page-width h2.title.h1 {
    margin-top: 25px;
    font-family: IP-Script-Casual;
    text-align: center;
}
.accordion.question {
    display: flex;
    align-items: center;
    cursor:pointer;
}
.accordion.question svg {
    max-width: 15px;
    height: 15px !important;
    height: max-content;
}
.accordion.question svg:nth-child(2) {
    display: none;
}
.accordion.question.active svg:nth-child(2) {
    display: block;
}
.accordion.question.active svg:nth-child(1) {
    display: none;
}
.accordion.question h4.ques {
    margin-left: 20px;
    display: block;
}
.panel.answer {
    padding-left: 35px;
}
.panel.answer p {
    margin-top: 0;
    line-height: 1.5;
      margin-bottom: 0;
    padding-bottom: 15px;
}
.que_and_ans {
    border-bottom: 1px solid #dfe3e8;
}
.panel.answer p a {
    color: #221e1f;
}
@media screen and (max-width: 767px){
    .panel.answer p {
        text-align: left;
    }
}
.accordion.question.active {
    background-color: #fcf6f7;
}
.accordion.question.active + .panel.answer {
    background-color: #fcf6f7;
    box-shadow: 0 5px 5px -5px;
}