.new-featured-collection-inner {
    position: relative;
    text-align: center;
  }
  .new-featured-collection-centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  .new-featured-collection slider-component {
      display: flex;
      width: 100%;
  }
  .new-featured-collection slider-component ul {
      width: 75%;
      padding: 0 20px;
    margin-top: 0;
  }
  .new-featured-collection slider-component .new-featured-collection-container {
      width: 25%;
  }
button.slick-prev.slick-arrow::before, button.slick-next.slick-arrow::before {
  content: "";
}