/* @media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
} */

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}
.product-count-vertical {
  display: none;
}
.facets__summary svg {
  max-width: 15px;
  height: 15px !important;
}
.facets-vertical .facets__summary {
  padding-right: 0;
}
.facets-vertical .facets__summary > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .facets__summary > div svg:nth-child(3) {
  display: none;
}
.js-filter[open] .facets__summary > div svg:nth-child(2) {
  display: none;
}
.js-filter[open] .facets__summary > div svg:nth-child(3) {
  display: block;
}
.facets__summary>div span {
  font-family: 'Muli';
  color: #221E1F;
  font-size: 16px;
}
.active-facets__button--light .active-facets__button-inner {
  background: #DF9CAC;
  box-shadow: none;
  text-transform: capitalize;
  font-weight: 500;
  font-family: 'Muli';
  color: #221E1F;
}
.active-facets__button-wrapper a.active-facets__button-remove {
  font-family: 'Muli';
  color: #C68792;
}
.facets__item label span {
  color: #221E1F;
  font-family: 'Muli';
}
.facets-vertical .facet-checkbox input:checked~span {
  color: #C68792;
}
.facets-vertical .facet-checkbox input:checked~svg rect {
  stroke: #C68792;
}
.facets-vertical .facet-checkbox input:checked~svg path {
  stroke: #C68792;
}
.facets__disclosure-vertical .facets__header-vertical span.facets__selected {
  font-family: 'Muli';
  color: #221E1F;
  opacity: 0.84;
}
.field:after {
  box-shadow: none !important;
  border: .1rem solid rgba(var(--color-foreground),.1);
  border-radius: 5px !important;
}
.facets__summary:hover span {
  text-decoration: none !important;
}
.field__input:focus,.field__input:hover{
  box-shadow: none !important;
  border:0;
  outline: none;
}
.facets__price .field+.field-currency {
  margin-right: 0;
}
span.field-currency {
  color: #C68792;
}
.facets__price .field {
  font-family: 'Muli';
}
.facets__price .field__label {
  color: #221E1F;
}
.facets-vertical .active-facets-vertical-filter h2#verticalTitle {
  display: none;
}
.facets-vertical .active-facets-vertical-filter {
  order: 5;
}
span#ProductCountDesktop {
  color: rgb(var(--color-heading-1-text));
  font-family: 'Muli';
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
  padding-left: 5px;
  text-transform: capitalize;
}
.facets__form-vertical .product-count {
  text-align: left;
}
.facet-filters .facet-filters__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 15px;
  border: 1px solid #DF9CAC;
}
.facet-filters__field .facet-filters__label label {
  font-family: 'Muli';
  text-transform: uppercase;
  color: #000;
  padding-left: 11px;
}
.facet-filters__field .select__select {
  background: transparent!important;
  outline: none!important;
  border: 0!important;
  box-shadow: none!important;
  height: max-content!important;
  color: #000;
  font-family: 'Muli';
  padding: 0 12px 0 12px;
}
.card__badge {
  display: none;
}
.active-facets__button--light:hover .active-facets__button-inner {
  box-shadow: 0 0 0 .2rem #DF9CAC !important;
}
/* .mobile-facets__sort .select svg {
  display: none;
} */
h4.collection_title.h4 {
  color: #DF9CAC;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  margin-left: 5px;
}
a.load-more_btn {
  cursor: pointer;
}
.facets__disclosure-vertical .facets__display-vertical.Colors input, .facets__disclosure-vertical .facets__display-vertical.Colors svg {
  display: none;
}
.facets__disclosure-vertical .facets__display-vertical.Colors label span {
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 5px 10px;
}
.facets__disclosure-vertical .facets__display-vertical.Colors input:checked~span {
  border-color: #C68792;
}
.facets__disclosure-vertical .facets__display-vertical.Colors ul.list-unstyled {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.facet-filters .facet-filters__field {
  margin-right: 6px;
}
.facets-vertical .product-grid-container ul#product-grid li.grid__item {
  margin-bottom: 12px;
}

.mobile-facets__submenu.Colors input, .mobile-facets__submenu.Colors svg {
  display: none;
}
.mobile-facets__submenu.Colors label span {
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 5px 10px;
}
.mobile-facets__submenu.Colors input:checked~span {
  border-color: #C68792;
  color: #C68792;
}
.mobile-facets__submenu.Colors ul.list-unstyled {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.mobile-facets__submenu.Colors label span.mobile-facets__highlight {
  display: none;
}
.mobile-facets__submenu.Colors label.mobile-facets__label {
  padding: 10px;
}
a.button.create_btn {
  display: flex;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 750px){
.facets-vertical-form {
    margin-bottom: -35px;
}
.facets-container {
  padding-top: 0;
}
.facets-vertical .product-grid-container ul#product-grid {
  margin-top: 40px;
}
}
@media screen and (max-width: 989px){
h4.collection_title.h4 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
/*   .mobile-facets__sort .select__select {
  border: 1px solid rgb(var(--color-heading-2-text));
  text-align: center;
  outline: none;
  border-radius: 4px !important;
  color: rgb(var(--color-foreground));
} */
}
@media screen and (max-width:767px){
.new-card-products {
  margin: 0 1px !important;
}
a.load-more_btn {
  margin-bottom: 30px;
}
.facets-vertical .product-grid-container ul#product-grid li.grid__item {
  margin-bottom: 0;
}
}
@media screen and (max-width: 479px){
.new-card-products .card__content .quick-add__submit span {
  font-size: 12px;
}
a.load-more_btn {
  font-size: 12px;
}
.new-card-products .card__heading {
  font-size: 16px;
}
a.button.create_btn {
  font-size: 12px;
}
}