.your-own-section-inner {
    display: flex;
  padding-top: 2rem;
}
.your-own-block img {
    max-width: 80px;
    width: 100%;
    height: auto;
}
.your-own-section-inner .your-own-left {
    width: 50%;
}
.your-own-section-inner .your-own-right {
    width: 50%;
}
.your-own-block {
    width: 50%;
    padding: 10px;
    text-align: center;
}
.your-own-block p {
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
}
.your-own-section-container h2 {
    font-family: "IP-Script-Casual";
    text-align: center;
}
.your-own-left-inner p {
    font-size: 15px;
    line-height: 1.56;
}

.your-own-section-container {
  text-align:center;
}
.your-own-main-image img {
    max-width: 100%;
    height: auto;
}
.your-own-block-container {
    display: flex;
}
.your-own-block-counter-circle {
    width: 50px;
    height: 50px;
    background: #c68792;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.your-own-block-text {
    text-align: left;
    padding-left: 30px;
  margin-bottom: 30px;
}
.your-own-block-text h4 {
    margin-top: 0;
  font-family: Muli;
  font-weight: bold;
}
.your-own-block-description.rte {
    font-size: 18px;
}
.your-own-block-description ul {
    display: flex;
    flex-wrap: wrap;
}
.your-own-block-description ul li {
    flex: 1 1 50%;
}
@media screen and (max-width:750px){
  .your-own-section-inner {
    display: flex;
    flex-direction: column;
}
  .your-own-section-inner .your-own-left, .your-own-section-inner .your-own-right {
    width: 100%;
}
  .your-own-section-inner .your-own-right {
    margin-top: 30px;
}
  a.your-own-btn {
    display: block;
    width: max-content;
    margin: 0 auto;
}
}
